<h1 class="text-center mb-5 display-4 text-primary">Stupid Coaching</h1>

<form action="answer" data-turbo="false">
  <div class="d-flex justify-content-center">
    <input type="text" name="question" placeholder="..." class="col-3 input-group-text rounded-0">
    <input type="submit" value="Ask!" class="btn btn-outline-primary rounded-0">
  </div>
</form>
